* {margin: 0;
padding: 0;
}

body { display: grid;
grid-template-areas: 
  "header"
  "velozes"
  "filmes"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 12vh 28vh 90vh 6vh;
  background-color: #040404;
  color: #fff;
}

main img {height: 15.125rem;
  width: 10.3125rem;
  border-radius: 0.9375rem;
  padding: 0 5px;
  
}

#header {grid-area: header;
background-color: #940E0E;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {transform: translatey(0.3875rem);
  padding: 0;
}

.lupa {transform: translatex(-1.35rem);
display: flex;
align-items: center;
}

.lupa input {margin: 0.625rem;
padding: 0.925rem 1.5rem;
border-radius: 1.25rem;
border: 0.1rem
}


.nav-list {display: flex;
}

.nav-item {border: 0.125rem solid;
  padding: 0.3rem;
  border-radius: 1.25rem;
  margin: 0 6.25rem;
  font-size: 1.75rem;
  background-color: #fff;
}

.nav-item a {text-decoration: none;
color: #000;}

#velozes {margin: 0.0625rem;
  grid-area: velozes;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.content {margin: 0.625rem;
max-width: 40%;
font-size: 1.25rem;
}

.content h2 {font-size: 2.25rem;
  padding-left: 0.625rem;
}

.content h3 {font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-top: 0.3125rem;
}

.content p {padding: 0.625rem;
}

#filmes {grid-area: filmes;
padding: 0.625rem;}

#footer {grid-area: footer;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #940E0E;
color: #000;
bottom: 0;
position: fixed;
width: 100%;
height: 6vh;
}

#footer img {padding: 0 0.1875rem;}

.copy {font-size: 1rem;
}

